* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: rgba(74, 74, 105, 0.548);
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: linear-gradient(rgba(255, 255, 255, 0.473), rgba(150, 150, 150, 0.25));
    font-family: 'DynaPuff', cursive;

    
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    /*width: 50vh;*/
    padding: 15px;

}

.calculator {
    display: flex;
    flex-direction: column;
    width: 500px;
    font-size: 2rem;
    /*border:1px solid gray;*/
    

}

.calculator-display {
    padding: 25px 15px;
    width: 100%;
    text-align: right;
    /*border: 1px solid gray;*/
    overflow-x: auto;
    font-weight: 700;
    color: #ff7576;
    background-color: #2B3044;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 24px ;
    position: relative;
    line-height: 24px;
    border-radius: 9px 9px 0px 0px;
    box-shadow: 0px 1px 2px #2B3044,
        0px 4px 16px #2B3044;
    transform-style: preserve-3d;
    transform: scale(var(--s, 1)) perspective(600px) rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
    perspective: 600px;
    transition: transform 0.1s;
    
    

}

.calculator-keypad {
    display: flex;
    width: 100%;

}

.keypad-numbers {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    color: #ff7576;
    background-color: #2B3044;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 24px;
    position: relative;
    line-height: 24px;
    border-radius: 0px 0px 9px 9px;
    box-shadow: 0px 1px 2px #2B3044,
        0px 4px 16px #2B3044;
    transform-style: preserve-3d;
    transform: scale(var(--s, 1)) perspective(600px) rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
    perspective: 600px;
    transition: transform 0.1s;
}

.keypad-button {
    width: 25%;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
    background: white;
    border: 1px solid gray;
    background: linear-gradient(90deg,
            #866ee7,
            #ea60da,
            #ed8f57,
            #fbd41d,
            #2cca91);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    display: block;
}

.keypad-button:hover {
    filter: brightness(80%);
    transition: filter .25s;
}

.keypad-button.yellow {
    background-color: rgb(15, 15, 15);

}

.keypad-button.large {
    width: 50%;
}

.keypad-button.dark {
    background-color: lightgray;
}